#welcome {
    text-align: center;
    max-width: 500px;
}

#welcome h2,
#welcome p {
    margin-bottom: 1rem;
}

#welcome p {
    color: #8435de;
}

#welcome img {
    margin-top: 2rem;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #8435de;
    animation: spin 1s ease infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  